<!-- NODE_ENV=production -->

# This is Local Optimism

# DEFAULT_RPC=http://164.92.84.78:8545/

# This is HTTP Gnosis Optimism

# DEFAULT_RPC=https://optimism.gnosischain.com/

# This is WS Kovan Optimism

# DEFAULT_RPC=wss://ws-kovan.optimism.io

DEFAULT_RPC=https://optimism.gnosischain.com/

# Removing this value will disable all webserver calls in the client

# DF_WEBSERVER_URL=http://localhost:3000/

# DF_WEBSERVER_URL=https://api.zkga.me/

DF_TWITTER_URL=https://api.zkga.me

# FAUCET_URL=http://localhost:3000/

FAUCET_URL=https://faucet.dfdao.xyz

DFDAO_WEBSERVER_URL=https://dynasty-worker.dfdao-dynasty.workers.dev

