/*
==========================================================================
-------------------------------- BASE STYLES -----------------------------
==========================================================================
*/

[lf-root] {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  background: hsla(0, 0%, 17%, 1);
  color: hsla(240, 21%, 89%, 1);
  padding: 0 3rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

[lf-top-bar] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

[lf-subtitle] {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/*
==========================================================================
------------------------------- MAP & GAME INFO --------------------------
------------------------------- (LEFT SIDE) ------------------------------
==========================================================================
*/

[lf-map-content] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  gap: 24px;
}

[lf-map-overview] {
  border: 1px solid hsla(0, 0%, 33%, 1);
  background: hsla(240, 7%, 42%, 0.2);
  padding: 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

[lf-minimap-container] {
  background: #111;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

[lf-map-round-name] {
  font-weight: 500;
  color: hsla(218, 100%, 74%, 1);
}

[lf-map-title] {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

[lf-round-countdown] {
  justify-self: flex-start;
}

[lf-play-button] {
  box-shadow: 0px 8px 48px 0px hsla(0, 0%, 34%, 0.08);
  box-shadow: 0px 4px 8px 0px hsla(210, 7%, 28%, 0.06);
  box-shadow: 0px 0px 1px 0px hsla(210, 7%, 28%, 0.32);
  border: 1px solid hsla(0, 0%, 45%, 1);
  color: #fff;
  background: hsla(240, 9%, 33%, 1);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  &:active {
    transform: scale(0.95);
    outline: none;
  }
  &:hover {
    background: hsla(240, 8%, 43%, 0.8);
    transform: scale(1.05);
  }
}

/*
==========================================================================
------------------------------- MAP DETAILS ------------------------------
------------------------------- (TOP RIGHT) ------------------------------
==========================================================================
*/

[lf-map-details] {
  // display: flex;
  // flex-direction: column;
  // flex-shrink: 1;
  display: grid;
  grid-template-rows: 2fr 1fr;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  gap: 3rem;
  width: 100%;
}

[lf-map-details-container] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

[lf-map-details-header] {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0.5rem 1rem;
}

[lf-map-details-tab] {
  border: 1px solid hsla(0, 0%, 35%, 1);
  background: hsla(240, 3%, 22%, 1);
  color: hsla(240, 21%, 89%, 0.6);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: hsla(240, 9%, 33%, 1);
    color: #fff;
  }
  &[lf-tab-active] {
    background: hsla(240, 7%, 13%, 1);
    color: #fff;
    cursor: default;
  }
}

/*
==========================================================================
------------------------------- LIVE MATCHES -----------------------------
==========================================================================
*/

[lf-map-details-content] {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  overflow-y: scroll;
}

[lf-match-detail-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: hsla(0, 0%, 24%, 1);
    color: #fff;
  }
}

[lf-match-detail-header] {
  display: flex;
  align-items: center;
  gap: 16px;
}

[lf-match-icon] {
  width: 24px;
  height: 24px;
  padding: 24px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 26%, 1);
  background: hsla(240, 3%, 22%, 1);
  color: hsla(218, 100%, 90%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

[lf-match-detail-left] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

[lf-match-detail-title] {
  font-weight: 500;
  color: hsla(240, 21%, 89%, 1);
}

[lf-match-detail-description] {
  color: hsla(240, 21%, 89%, 0.6);
}

[lf-match-detail-creator] {
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsla(240, 21%, 89%, 0.8);
}

/*
==========================================================================
------------------------------- MAP CONFIG (BOTTOM RIGHT) ----------------
==========================================================================
*/

[lf-map-config-container] {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

[lf-map-config-details-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[lf-config-expand] {
  font-weight: 500;
  color: hsla(218, 100%, 74%, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: hsla(218, 100%, 84%, 1);
  }
}
